<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Create publication</title>
    </head>
    <body>
        <form method="post">
            <input type="text" value="" name="title" placeholder="Title"/>
            <input type="date" value="" name="date" placeholder="Date"/>
            <br/>
            <textarea name="pubBody" placeholder="Body"></textarea>

            <button type="submit">Post</button>
        </form>
    </body>
</html>